* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
body {
  font-family: Georgia, serif;
  background-color: #000000;
  color: #fafafa;
font-family: Georgia, serif;        /* elegantno */
  font-family: Arial, sans-serif;     /* moderno */
  font-family: 'Times New Roman', serif;
}
 
/* ── TOP BAR ── */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #2d6a4f;
}
 
.top-bar img {
  height: 110px;
  width: auto;
  object-fit: contain;
   border-radius: 40px;
    padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}
 
/* ── NAV ── */
nav ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
 
nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #d8f3dc;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 4px;
  transition: background 0.2s, color 0.2s;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
   border-radius: 20px;
}
 
nav ul li a:hover {
  background-color: #52b788;
  color: #ffffff;
  animation-duration:1s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}
 
/* ── RESPONSIVE ── */
@media (max-width: 700px) {
  .top-bar {
    flex-direction: column;
    gap: 1rem;
  }
 
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}



h1 {
  background-color: rgba(42, 145, 28, 0.8);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}
footer {  
 background:#0b2c01;  
 color: white;  
text-align: center;  
 padding: 1rem;  

} 
p{
  text-align: center;
  color: black;
  font-size: 200px;
   display: flex;
    justify-content: center;  /* horizontalno */
    align-items: center;      /* vertikalno */
    min-height: 100vh;
}
.slika-s-tekstom {
    position: relative;
}

.slika-s-tekstom img {
    width: 100%;
    display: block;
    filter: brightness(0.1);
    
  filter: brightness(0.1); /* 0 = crno, 1 = normalno, 0.5 = pola tamno */
}

.slika-s-tekstom p {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10rem;
    text-align: center;
    
}
h1{
  text-align: center;
  list-style: none;
  text-decoration: none;
}
h1 a {
  text-decoration: none; /* mora biti na a tagu */
  color: #ffffff;
}
h1:hover {
background-color: #194b34;
  color: #ffffff;
  animation-duration:1s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}
h2 {
  background-color: #1b4332;
  border-radius: 20px;
  padding: 20px 35px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  color: #d8f3dc;
  font-size: 2rem;
  font-family: Georgia, serif;
  letter-spacing: 2px;
  text-align: center;
  width: fit-content;
  margin: 2rem auto;
}
p  { font-family:  Georgia, serif; }